html,
body {
  margin: 0;
}

.app {
  box-sizing: border-box;
}

/* nav bar */
.logoDiv {
}
.logoImg {
  padding-left: 20px;
  height: 50px;
  object-fit: cover;
}
.navBar {
  display: flex;
  justify-content: space-between;
}
.sideNav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  color: #2844b7;
  padding: 10px 10px 0 10px;
}
.navLink:visited {
  text-decoration: none;
  color: #2844b7;
}
.navLink:hover {
  text-decoration: underline;
}
.linkText {
  font-size: 14px;
}

/* home page */
.homepage {
  display: flex;
  flex-direction: column;
}
.titleBar {
  height: 25px;
  width: 100%;
  color: white;
  background-color: #2947ad;
  font-size: 125%;
  margin-bottom: 15px;
  text-align: center;
}
/* picture gallery */

.pic {
  height: 120px;
  width: 200px;
  object-fit: cover;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* hamburger menu */

.hamDiv {
  display: none;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  text-decoration: underline;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  right: 36px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2947ad;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #2947ad;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2947ad;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: #2947ad;
}

/* media queries */
@media screen and (max-width: 1000px) {
  .hamDiv {
    display: block;
  }
  .sideNav {
    display: none;
  }
}
